{% extends 'base.html'%}
{% load bootstrap4%}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!------ Include the above in your HEAD tag ---------->

<header>


  

<div class="container">


<div class="row">
  

    {% for place in area%}
    <div class="col-lg-4 col-md-12 mb-4">
    <div class="card card-image" style="background-image: url('https://cdn.pixabay.com/photo/2014/08/11/11/07/urban-415480__340.jpg');background-repeat: no-repeat;">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-5" style="height: 100%">
        <div>
          <h5 class="pink-text"><i ></i> Location</h5>
          <h1 class="card-title pt-2"><strong>{{place.name}}</strong></h1>
         
        
          

          <a class="btn btn-pink" href="{% url 'home' place.pk %}"><i class="fas fa-clone left" ></i> View Location</a>
        </div>
      </div>
    
    </div>
    </div>

    {% endfor %}
    
    </div>
    
   
    <div class="w3-container">
     
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Add a Location</button>
    
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <form action="{% url 'area'%}" method="POST" >
          {% csrf_token %}
          {{form.as_p}}
      <br />
      <div class="row">
      <div class="col-xs-12 col-md-12 form-group">
        <button class="btn btn-info-lg" type="submit">Submit</button>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div> 

 <style>
 
 a{
   color: aliceblue;
 }
 body{
   background-color:#89B7AC;
 }
 </style>
{% endblock %}
