

{% block content%}

<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" href="{%url 'area'%}"><strong>Navbar</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'area'%}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a href="">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
        <li class="nav-item">
            <a href="/accounts/password/change">Change Password</a>
        </li>
      </ul>
      
      <div class="col-sm-6 col-md-6">
          {% if user.is_authenticated %}
          <ul class="dropdown" class="nav-item">
            
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      
                    </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                 
                </li>
                <li>
                  
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>

          {% endif %}
        </div>
    </div>
  </nav>

</header>
<!--Main Navigation-->
{% endblock %}