{% extends 'base.html'%}
{% block content %}
{% load bootstrap4%}

<div class="col-lg-6 contact-form">
  <form id="contact" method="post" class="form" role="form">
  <div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    
    <form action="{% url 'area'%}" method="POST" >
      {% csrf_token %}
      {% bootstrap_form form %}
  <br />
  <div class="row">
  <div class="col-xs-12 col-md-12 form-group">
    <button class="btn btn-info-lg" type="submit">Submit</button>
  </form>
  </div>
  </div>

{% endblock %}